{% extends 'main/layout.html' %}

{% block title %} О нас {% endblock %}

{% block content %}
<h1>О нас</h1>
<div style="margin-top: 15px;">
    <b>Компания ООО «Сатурн» предоставляет услуги в сфере мелкого ремонта квартир, частных домов, различного рода помещений.</b><br>
    <b>Ключевые приоритеты в нашей работе: </b><br>
    <br>
    - постоянное улучшение качества обслуживания и формирование конкурентных тарифов;<br>
    <br>
    - эффективное взаимодействие с жителями;<br>
    <br>
    - повышение профессиональных навыков сотрудников и улучшение клиентского сервиса на разных уровнях с помощью
    постоянного обучения специалистов;<br>
    <br>
    - минимизация затрат на ремонт за счёт надлежащего содержания.<br>
    <br>
</div>
{% endblock %}