{% extends 'main/servicesLayout.html' %}

{% block title %} Косметический ремонт {% endblock %}
{% load my_tags %}

{% block services %}

<h4 style="margin-bottom: 25px; text-transform: uppercase; text-align: center;"> Косметический ремонт</h4>

<div style="text-align: center;">
    <img style="text-align: center;"
         src="https://borisov-praktik.by/upload/medialibrary/961/9614510a6385f0d8d0c4ff6f27527336.jpg"
         alt="" class="img-flid" width="65%" height="65%">
</div>


<hr class="hr mt-5" style="color: #a3a4a5;">

<h4 class="mb-3" style="text-transform: uppercase;">
    Как превратить ваш дом в привлекательное место жительства?
</h4>
<p align="justify" style="font-size: 18px;">
    Наша компания предоставляет услуги косметического ремонта, которые позволят вам обновить свой дом или
    квартиру без больших затрат. Мы заменяем обои, красим стены и потолки, укладываем новый ламинат и многое
    другое. Обратившись к нам, вы получите свежий и стильный дизайн вашего дома, который придется по вкусу всем
    вашим гостям.
</p>

<hr class="hr mt-3" style="color: #a3a4a5;">

<h3 class="mb-3 mt-3" style="text-transform: uppercase;">
    Наш прайс-лист:
</h3>

{% if services %}
<table class="santehServicesTable table table-bordered table-hover table-striped" style="text-align: center;">
    <tr style="font-size: 20px;">
        <th>Номер</th>
        <th>Виды работ</th>
        <th>Цена</th>
    </tr>

    {% for el in services %}
    {% if el.category == 'Косметический ремонт' %}
    <tr>
        <th scope="row">{% increment %}</th>
        <td style="text-align: left; padding-left: 30px;">{{ el.title }}</td>
        <td style="text-align: center;">от {{ el.price }} руб/кв.м</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endif %}

{% endblock %}

