{% extends 'main/secondLayout.html' %}
{% load static %}
{% block title %} Заявки {% endblock %}

{% block content %}

<div class="container" style="margin-top: 25px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;">
    <table>
        <h2 style="text-align: center;">Архив заявок:</h2>
        <tr class="mainTable">
            <th>Номер заявки</th>
            <th>ФИО</th>
            <th>Номер телефона</th>
            <th>Ожидаемая дата звонка</th>
            <th>Статус заявки</th>
            <th>Действие</th>
        </tr>
        {% if feedback %}
        {% for el in feedback %}
        {% if el.status == 'Не активен' %}
        <tr class="str">
            <td>{{ forloop.counter }}</td>
            <td>{{ el.surname }} {{ el.name }} {{ el.patronymic }}</td>
            <td>{{ el.phone_number }}</td>
            <td>{{ el.date }} {{ el.time }}</td>
            <td>{{ el.status }}</td>
            <td>
                <button class="btn btn-secondary" style="margin-bottom: 5px; width: 150px;"> Подробнее</button>
                <button class="btn btn-danger" style="width: 150px;"> Удалить</button>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% else %}
        <tr class="str">
            <td>Архив</td>
            <td>пуст</td>
        </tr>
        {% endif %}
    </table>
    <ul style="list-style-type: none;">
        <li><a href="{% url 'feedbackSettings' %}" style="text-decoration: none;">Вернуться к заявкам</a></li>
    </ul>

</div>
{% endblock %}