{% extends 'main/secondLayout.html' %}
{% load static %}
{% block title %} Заявки {% endblock %}

{% block content %}

<div class="container" style="margin-top: 25px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;">
    <table>
        <h2 style="text-align: center;">Архив заявок:</h2>
        <tr class="mainTable">
            <th>Номер заявки</th>
            <th>ФИО</th>
            <th>Номер телефона</th>
            <th>Ожидаемая дата звонка</th>
            <th>Статус заявки</th>
            <th>Действие</th>
        </tr>
        {% if feedback %}
        {% for el in feedback %}
        {% if el.status == 'Не активен' %}
        <tr class="str">
            <td>{{ forloop.counter }}</td>
            <td>{{ el.surname }} {{ el.name }} {{ el.patronymic }}</td>
            <td>{{ el.phone_number }}</td>
            <td>{{ el.date }} {{ el.time }}</td>
            <td>{{ el.status }}</td>
            <td>
                <!-- Кнопка-триггер модального окна -->
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#{{ forloop.counter }}"
                        style="margin-bottom: 5px; width: 150px;">
                    Подробнее
                </button>
            </td>
            <!-- Модальное окно -->
            <div class="modal fade" id="{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Информация о заявке</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <ul style="list-style-type: none;">
                                <li> ФИО: {{ el.surname }} {{ el.name }} {{ el.patronymic }}</li>
                                <li> Номер телефона: {{ el.phone_number }}</li>
                                <li> Текст заявки: {{ el.feedback_text }}</li>
                                <li> Дата звонка: {{ el.date }} {{ el.time }}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button class="change-status-button btn btn-secondary" data-feedback-id="{{ el.id }}" data-new-status="Активен">Изменить статус</button>
                            <a class="btn btn-danger" href="{% url 'delete_feedback' el.id %}">Удалить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        {% endif %}
        {% endfor %}
        {% else %}
        <tr class="str">
            <td>Архив</td>
            <td>пуст</td>
        </tr>
        {% endif %}
    </table>
    <ul style="list-style-type: none;">
        <li><a href="{% url 'feedbackSettings' %}" style="text-decoration: none;">Вернуться к заявкам</a></li>
    </ul>

</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.change-status-button').on('click', function() {
                var feedbackId = $(this).data('feedback-id');
                var newStatus = $(this).data('new-status');
                $.ajax({
                    url: "{% url 'change_feedback_status' %}",
                    method: 'POST',
                    data: {
                        'feedback_id': feedbackId,
                        'new_status': newStatus,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.success) {
                            alert('Статус успешно изменен!');
                        } else {
                            alert('Произошла ошибка: ' + response.message);
                        }
                    },
                    error: function() {
                        alert('Произошла ошибка при отправке запроса!');
                    }
                });
            });
        });
    </script>

{% endblock %}