{% extends 'main/layout.html' %}
{% load static %}
{% block title %} Главная страница {% endblock %}

{% block content %}
<div class="usercontent">
    <h1>Ремонтные услуги в Екатеринбурге</h1>
    <div class="price-table-box"></div>
    <p align="justify">Удобное и комфортное жилье определяет качество жизни любого человека. Некоторое время назад
        большинство людей
        стремились самостоятельно делать ремонт в своей квартире или же обращались за помощью к строительным бригадам.
        Через определенное время после проведения подобных работ приходилось вновь тратить время и деньги на исправление
        недоделок и недостатков.</p>
    <p align="justify">В настоящее время существует множество технологий проведения ремонтных работ, а на рынке
        представлено множество
        видов отделочных материалов. Рисуя в своем воображении, каким должен быть интерьер квартир, ее владелец далеко
        не всегда может понять, каким образом воплотить свои идеи об уютном и комфортном доме. Специалисты компании
        «Сатурн» быстро, качественно и недорого выполнят любые виды ремонтно-строительных услуг в вашей квартире
        или доме.</p>

    <div class="layout_element" style="margin-top: 20px; margin-bottom: 20px;">
        <div style="text-align: center;">
            <h1 style="color: #ffffff; text-shadow: 5px 1px 10px #0c0c0c; padding-top: 100px;">
                Ремонт домов и квартир в Екатеринбурге
            </h1>
            <a href="{% url 'create' %}" style="text-decoration: none;">
                <button type="button" class="btn btn-warning" style="margin-top: 20px; font-size: 20px; width: 200px;">
                    Оставить заявку
                </button>
            </a>
        </div>
    </div>
    <h2>Определение стоимости ремонтных услуг</h2>
    <p align="justify">Стремление сэкономить на ремонтных услугах может привести к плачевным результатам. Строительная
        бригада, нанятая
        по объявлениям или «на улице» может бросить работу, не доделав ремонт до конца, а самостоятельное выполнение
        некоторых работ может привести к необходимости существенной переделки в дальнейшем.</p>
    <p align="justify">Некоторые заказчики ориентируются на волшебное словосочетание «стоимость ремонта квадратного
        метра», которое
        нередко таит в себе множество особенностей. Иногда в данную стоимость не включаются некоторые виды
        подготовительных работ, или же пожелания заказчика существенно расходятся с его бюджетом. В любом случае,
        предварительный анализ стоимости оказания ремонтно-отделочных услуг можно произвести на сайте строительной
        компании.</p>
    <p><img style="float: left; margin-right: 10px" src="{% static 'main/img/remont.jpg' %}" alt="Ремонт" width="300"
            height="200"></p>
    <p align="justify">Для определения конечной стоимости ремонтно-строительных услуг необходимо вызвать специалиста
        компании «Сатурн»
        на дом. Определение стоимости ремонта включает в себя как проведение замеров, так и составление сметы, в
        которой необходимо рассчитать как цену материалов, так и количество трудозатрат. Иногда смета не укладывается в
        бюджет, имеющийся в распоряжении владельца квартиры, представители компании «Сатурн» готовы пойти на
        встречу и пересмотреть некоторые затраты. Стоимость материалов для проведения ремонтных работ является
        значительной часть сметы, но покупка дешевых материалов может привести к существенному ухудшению качества
        оказания ремонтных услуг.</p>
    <p align="justify">Компания «Сатурн» сотрудничает только с проверенными поставщиками, что позволяет производить
        закупки
        качественных материалов по низким ценам. Составляя смету специалист тщательно обсуждает все необходимые услуги
        по ремонтным работам, все дополнительные работы обсуждаются с заказчиком до начала их проведения и стоимость
        после начала ремонта остается неизменной.</p>
    <p align="justify">Основной задачей компании «Сатурн» является оказание качественных ремонтных услуг, мы рады будем
        проконсультировать по всем интересующим вас вопросам.</p>

    <div>
        <h1> Категории оказываемых услуг: </h1>
        <div style="margin-bottom: 20px; text-align: center;">
            <a href="{% url 'services' %}" style="text-decoration: none;">
                <button type="button" class="btn btn-warning"
                        style="margin-top: 20px; font-size: 20px; width: 140px; height: 140px;">
                    <i class="fa-sharp fa-solid fa-wrench"></i>
                    Сантехника
                </button>
            </a>
            <a href="{% url 'services' %}" style="text-decoration: none;">
                <button type="button" class="btn btn-warning"
                        style="margin-top: 20px; font-size: 20px; width: 140px; height: 140px;">
                    <i class="fa-solid fa-bolt"></i>
                    Электрика
                </button>
            </a>
            <a href="{% url 'services' %}" style="text-decoration: none;">
                <button type="button" class="btn btn-warning"
                        style="margin-top: 20px; font-size: 20px; width: 140px; height: 140px;">
                    <i class="fa-solid fa-rug"></i>
                    Плиточные
                </button>
            </a>
            <a href="{% url 'services' %}" style="text-decoration: none;">
                <button type="button" class="btn btn-warning"
                        style="margin-top: 20px; font-size: 20px; width: 140px; height: 140px;">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Остальное
                </button>
            </a>
        </div>
    </div>

    <div>
        <h2>Преимущества работы с нами</h2>
        <p align="justify">При проведении ремонта квартиры «под ключ» вы получаете ряд преимуществ:</p>
        <ul>
            <li>бесплатная и оперативная услуга «замерщика» в любом районе Екатеринбурга;</li>
            <li>составление сметы до начала работ;</li>
            <li>выполнение работ любой степени сложности специалистами-профессионалами;</li>
            <li>подбор строительных материалов с учетом особенностей помещения;</li>
            <li>выполнение работ с учетом объема и сложности в оговоренные сроки;</li>
            <li>чистота и аккуратность на всех этапах ремонта, полная уборка мусора, строительных отходов во время и
                после завершения ремонта.
            </li>
        </ul>
    </div>

        <div class="footer border-top">
            <div class="elementor-row" style="display: flex; width: 100%; margin-top: 15px;">
                <div class="footText" style="width: 25%;">
                    Адрес
                    <p>г. Екатеринбург, ул. 8 марта, 49, офис 110</p>
                </div>
                <div class="footText" style="width: 25%;">
                    Номер телефона
                    <p>+7 (908) 951-26-67</p>
                </div>
                <div class="footText" style="width: 25%;">
                    Электронная почта
                    <p>info@saturn.ru</p>
                </div>
                <div class="footText border-bottom" style="width: 25%;">
                    Обратная связь
                    <p>
                        <a href="{% url 'create' %}" style="text-decoration: none;">
                            <button type="button" class="btn btn-warning"
                                    style="margin-top: 0px; font-size: 15px; width: 150px;">
                                Оставить заявку
                            </button>
                        </a>
                    </p>
                </div>
            </div>

        </div>
</div>
{% endblock %}