{% extends 'main/secondLayout.html' %}
{% load static %}
{% block title %} Главная страница {% endblock %}

{% block content %}

<style>
    .view.overlay {
  position: relative;
  display: inline-block;
}

.view.overlay .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.view.overlay:hover .mask {
  opacity: 1;
}

.view.overlay:hover .btn-details {
  opacity: 1;
}

.view.overlay .btn-details {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  color: black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-transform: uppercase;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px 30px;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-bottom: 110px;
  text-decoration: none;
}
</style>

<div id="intro" class="view"
     style="background: url(https://celes.club/uploads/posts/2022-11/1667364071_1-celes-club-p-svetlaya-stena-fon-vkontakte-1.jpg); width: 100%; height: 100%;">
    <div class="mask rgba-black-strong">
        <div class="container-fluid d-flex align-items-center justify-content-center h-100">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-md-10">
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2" style="margin-bottom: 2px;">
                        Сатурн
                    </h2>
                    <hr class="hr-light">
                    <h4 class="white-text my-4">
                        Ремонт домов и квартир в Екатеринбурге
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <section id="best-features" class="text-center">
        <h2 class="mb-5 font-weight-bold">
            Ремонтные услуги в Екатеринбурге
        </h2>
        <img src="https://www.prorabneva.ru/storage/post_content/July2022/DwhxdXYuFmRjcIhsr5Ta.jpg"
             alt="" class="img-flid mb-5" height="600px" width="1000px" style="width: 100%; height: 100%;">
        <div class="row d-flex justify-content-center mb-4">
            <div class="col-md-8">
                <p class="text-muted" align="justify" style="font-size: 20px;">
                    Удобное и комфортное жилье определяет качество жизни любого человека. Некоторое время назад
                    большинство людей стремились самостоятельно делать ремонт в своей квартире или же обращались за
                    помощью к строительным бригадам. Через определенное время после проведения подобных работ
                    приходилось вновь тратить время и деньги на исправление недоделок и недостатков.

                </p>
            </div>
        </div>
        <div class="row">
            <h2 class="mb-5 font-weight-bold">
                Преимущества работы с нами
            </h2>
            <div class="col-md-4 mb-5">
                <i class="fa fa-truck-fast text-muted fa-5x"></i>
                <h4 class="my-4 font-weight-bold">Оперативность</h4>
                <p class="text-muted" style="font-size: 18px;">Бесплатная и оперативная услуга «замерщика» в любом
                    районе Екатеринбурга</p>
            </div>
            <div class="col-md-4 mb-5">
                <i class="fa-solid fa-bolt text-muted fa-5x"></i>
                <h4 class="my-4 font-weight-bold">Профессионализм</h4>
                <p class="text-muted" style="font-size: 18px;">Выполнение работ любой степени сложности
                    специалистами-профессионалами</p>
            </div>
            <div class="col-md-4 mb-5">
                <i class="fa-solid fa-trash text-muted fa-5x"></i>
                <h4 class="my-4 font-weight-bold">Чистота и аккуратность</h4>
                <p class="text-muted" style="font-size: 18px;">Чистота и аккуратность на всех этапах ремонта, полная
                    уборка мусора,
                    строительных отходов во время и после завершения ремонта</p>
            </div>
        </div>
    </section>

    <hr class="my-5">

    <section id="examples" class="text-center">
        <h2 class="mb-5 mt-5 font-weight-bold">
            Услуги
        </h2>
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="view overlay">
                    <a href="#">
                        <img src="https://santehnikekaterinburg.ru/wp-content/uploads/2021/01/santehnik-24.jpg"
                             alt="" class="img-flid" height="300px" width="400px">
                    </a>
                    <div class="mask flex-center"></div>
                    <a href="{% url 'santeh'%}" class="btn-details">Подробнее</a>
                </div>
                <h4 class="my-4 font-weight-bold">Сантехнические работы</h4>
                <ul class="text-muted" style="list-style-type: none;">
                    <li> Установка смесителя от 780 руб/шт.</li>
                    <li> Установка раковины от 490 руб/шт.</li>
                    <li> Установка мойки от 790 руб/шт.</li>
                    <li> Установка унитаза от 1450 руб/шт.</li>
                    <li> Установка унитаза от 1450 руб/шт.</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="view overlay zoom">
                    <a href="{% url 'electric'%}">
                        <img src="https://moslenta.ru/thumb/1200x0/filters:quality(75):no_upscale()/imgs/2021/12/18/11/5110380/2a59874283132ab12b6a49fe7a2087fb9ffa166d.jpeg"
                             alt="" class="img-flid" height="300px" width="400px">
                    </a>
                    <div class="mask flex-center"></div>
                    <a href="{% url 'electric'%}" class="btn-details">Подробнее</a>
                </div>
                <h4 class="my-4 font-weight-bold">Работа с электрикой</h4>
                <ul class="text-muted" style="list-style-type: none;">
                    <li> Установка щитка от 400 руб/шт.</li>
                    <li> Установка бра от 280 руб/шт.</li>
                    <li> Установка автомата от 200 руб/шт.</li>
                    <li> Установка силовой розетки от 400 руб/шт.</li>
                    <li> Демонтаж электрощитка от 200 руб/шт.</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="view overlay zoom">
                    <a href="{% url 'brick'%}">
                        <img src="https://livkerama.ru/wp-content/uploads/2018/08/1489228319_2-1-min-1024x683.jpg"
                             alt="" class="img-flid" height="300px" width="400px">
                    </a>
                    <div class="mask flex-center"></div>
                    <a href="{% url 'brick'%}" class="btn-details">Подробнее</a>
                </div>
                <h4 class="my-4 font-weight-bold">Плиточные работы</h4>
                <ul class="text-muted" style="list-style-type: none;">
                    <li> Укладка плитки на пол от 800 руб/м2.</li>
                    <li> Укладка мозаики от 1400 руб/м2.</li>
                    <li> Укладка плитки на стены от 1200 руб/м2.</li>
                    <li> Укладка керамогранита от 2200 руб/м2.</li>
                    <li> Декоративный камень от 1800 руб/м2.</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="view overlay zoom">
                    <a href="#">
                        <img src="https://f5.mirkvartir.me/journal/custom/ff4b1a7c-692b-4ea7-b75b-b6e46d371baa.jpg"
                             alt="" class="img-flid" height="300px" width="400px">
                    </a>
                    <div class="mask flex-center"></div>
                    <a href="{% url 'decorative'%}" class="btn-details">Подробнее</a>
                </div>
                <h4 class="my-4 font-weight-bold">Декоративная отделка</h4>
                <ul class="text-muted" style="list-style-type: none;">
                    <li> Декоративная штукатурка стен от 1200 руб/м2.</li>
                    <li> Покраска стен от 800 руб/м2.</li>
                    <li> Поклейка обоев от 1250 руб/м2.</li>
                    <li> Укладка плитки от 1400 руб/м2.</li>
                    <li> Установка натяжного потолка от 2200 руб/м2.</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="view overlay zoom">
                    <a href="{% url 'cosmetic'%}">
                        <img src="https://borisov-praktik.by/upload/medialibrary/961/9614510a6385f0d8d0c4ff6f27527336.jpg"
                             alt="" class="img-flid" height="300px" width="400px">
                    </a>
                    <div class="mask flex-center"></div>
                    <a href="{% url 'cosmetic'%}" class="btn-details">Подробнее</a>
                </div>
                <h4 class="my-4 font-weight-bold">Косметический ремонт</h4>
                <ul class="text-muted" style="list-style-type: none;">
                    <li> Ремонт комнат от 1000 руб кв.м.</li>
                    <li> Ремонт в новостройке от 1400 руб кв.м.</li>
                    <li> Ремонт коттеджей от 1400 руб кв.м.</li>
                    <li> Ремонт в хрущевке от 1400 руб кв.м.</li>
                    <li> Ремонт стен от 1400 руб кв.м.</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="view overlay zoom">
                    <a href="#">
                        <img src="https://xn----7sbpb5aezbfk.xn--p1ai/attachments/Image/32505_156068449613811.jpg"
                             alt="" class="img-flid" height="300px" width="400px">
                    </a>
                    <div class="mask flex-center"></div>
                    <a href="{% url 'another'%}" class="btn-details">Подробнее</a>
                </div>
                <h4 class="my-4 font-weight-bold">Другие виды услуг</h4>
                <ul class="text-muted" style="list-style-type: none;">
                    <li> Установка настенного карниза от 700 руб/шт.</li>
                    <li> Установка жалюзи от 700 руб/шт.</li>
                    <li> Навес ковра от 590 руб/шт.</li>
                    <li> Установка экрана под ванну от 440 руб/шт.</li>
                    <li> Установка вентиляционной решетки от 100 руб/шт.</li>
                </ul>
            </div>
        </div>
    </section>

    <hr class="hr-light">
    <section id="contact">
        <h2 class="mb-5 font-weight-bold text-center">Контакты</h2>
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="p-1">
                    <div class="md-form form-sm">
                        <i class="fa-solid fa-location-dot fa-sm" style="font-size: 20px;"> Адрес: </i>
                        <p style="font-size: 18px;"> г. Екатеринбург, ул. 8 марта, 49, офис 110</p>
                        <hr class="hr-light">
                    </div>
                    <div class="md-form form-sm">
                        <i class="fa-solid fa-phone fa-sm" style="font-size: 20px;"> Телефон: </i>
                        <p style="font-size: 18px;"> +7 (908) 951-26-67</p>
                        <hr class="hr-light">
                    </div>
                    <div class="md-form form-sm">
                        <i class="fa-solid fa-calendar-days" style="font-size: 20px;"> Режим работы: </i>
                        <p style="font-size: 18px;"> с 9:00 до 18:00 (офис), до 21:00 (замер) без выходных </p>
                        <hr class="hr-light">
                    </div>
                    <div class="md-form form-sm" style="font-size: 20px;">
                        <i class="fa-solid fa-envelope"> Почта: </i>
                        <p style="font-size: 18px;"> info@saturn.ru</p>
                        <hr class="hr-light">
                    </div>
                    <div>
                        <h3 class="mt-1" style="text-align: center;">Обратная связь:</h3>
                        <div>
                            <form method="post" style="display: grid;">
                                {% csrf_token %}
                                <div class="input-group mb-1">
                                        <span class="input-group-text"
                                              style="background-color: #0080ff00;
                                              border: var(--bs-border-width) solid #dee2e600;">
                                            <i class="fa-solid fa-user fa-sm"></i>
                                        </span>
                                    {{ form.surname }}
                                </div>
                                <hr class="hr-light mt-1">
                                <div class="input-group mb-1">
                                        <span class="input-group-text"
                                              style="background-color: #0080ff00;
                                              border: var(--bs-border-width) solid #dee2e600;">
                                            <i class="fa-solid fa-user fa-sm"></i>
                                        </span>
                                    {{ form.name }}
                                </div>
                                <hr class="hr-light mt-1">
                                <div class="input-group mb-1">
                                        <span class="input-group-text"
                                              style="background-color: #0080ff00;
                                              border: var(--bs-border-width) solid #dee2e600;">
                                            <i class="fa-solid fa-user fa-sm"></i>
                                        </span>
                                    {{ form.patronymic }}
                                </div>
                                <hr class="hr-light mt-1">
                                <div class="input-group mb-1">
                                        <span class="input-group-text"
                                              style="background-color: #0080ff00;
                                              border: var(--bs-border-width) solid #dee2e600;">
                                            <i class="fa-solid fa-phone fa-sm"></i>
                                        </span>
                                    {{ form.phone_number }}
                                </div>
                                <hr class="hr-light mt-1">
                                <div class="input-group mb-1">
                                        <span class="input-group-text"
                                              style="background-color: #0080ff00;
                                              border: var(--bs-border-width) solid #dee2e600;">
                                            <i class="fa-solid fa-pencil fa-sm"></i>
                                        </span>
                                    {{ form.feedback_text }}
                                </div>
                                <hr class="hr-light mt-1">
                                {{ form.date }}
                                <hr class="hr-light mt-1">
                                {{ form.time }}
                                <hr class="hr-light mt-1">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa-solid fa-envelope"></i> Отправить заявку
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">

                <div style="position:relative;overflow:hidden;">
                    <a href="https://yandex.ru/maps/54/yekaterinburg/?utm_medium=mapframe&utm_source=maps"
                       style="color:#eee;font-size:12px;position:absolute;top:0px;">Екатеринбург</a>
                    <a href="https://yandex.ru/maps/54/yekaterinburg/house/ulitsa_8_marta_49/YkkYcAdlSUABQFtsfXRzdX5lZg==/?ll=60.605117%2C56.824538&utm_medium=mapframe&utm_source=maps&z=18.15"
                       style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица 8 Марта, 49 —
                        Яндекс Карты</a>
                    <iframe src="https://yandex.ru/map-widget/v1/-/CCUbMGDKkD" width="760" height="850"
                            frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="footer" style="background-color: #f5f5f5; position: relative;
    z-index: 301;">
    <hr class="my-5">
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <h6 class="text-uppercase font-weight-bold">О компании</h6>
                <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 120px;">
                <p>ООО "Сатурн" г. Екатеринбург</p>
            </div>
            <div class="col">
                <h6 class="text-uppercase font-weight-bold">Контакты</h6>
                <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 120px;">
                <p class="mb-3 mt-0">Почта: info@saturn.ru</p>
                <p class="mb-3 mt-0">Номер телефона: +7 (908) 951-26-67</p>
            </div>
            <div class="col">
                <h6 class="text-uppercase font-weight-bold">Адрес</h6>
                <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 120px;">
                <p class="mb-3 mt-0">Адрес: г. Екатеринбург, ул. 8 марта, 49, офис 110</p>
                <p class="mb-3 mt-0">Время работы: с 9:00 до 18:00 без выходных </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}