{% extends 'main/layout.html' %}

{% block title %} Информация о услугах {% endblock %}

{% block content %}
<div class="aboutprop">
    <h1>Информация о услуге</h1>
    <p>Категория: {{ services.category }}</p>
    <p>Услуга: {{ services.title }}</p>
    <p>Цена: {{ services.price }}</p>
    <p>Подробная информация: {{ services.full_text }}</p>
</div>
<form method="post">
    {% csrf_token %}
    <a href ="{% url 'services-update' services.id %}" class="btn btn-primary">Изменить</a>
    <button class="btn btn-danger" type="submit">Удалить</button>
</form>
{% endblock %}