
table {
    font-family: monospace;
    text-align: center;
    border-collapse: collapse;

}

.mainTable {
    border-top: 1px solid #8ea7e8;
}

.str {
    border-top: 1px solid #8ea7e8;
    transition: .5s;
}

th {
    font-weight: 500;
    padding-top: 5px 35px;
    text-transform: uppercase;
    font-size: 15px;
}

td {
    font-size: 18px;
    padding: 5px 35px;
}

.str:hover {
    background-color: #8ea7e8;
    color: #fff;
}
