.box-with-shadow {
  /* Ширина блока */
  width: 250px;
  /* Внутренние отступы */
  padding: 32px;
  /* Цвет фона в элементе */
  background-color: #38d9a9;
  /* Сделаем видимую границу элементу */
  border: 1px solid #333;
}

.box-with-shadow:hover {
  /* Свойство отвечающее за формирование тени
   8px - отступ по оси Х
   10px - отступ по оси Y
   5px - радиус размытия тения
   2px - радиус распространения
   rgba - функция формирующая цвет тени
  */
  box-shadow: 8px 10px 5px 2px rgba(0, 0, 255, .2);
}
