{% extends 'main/layout.html' %}

{% block title %} Личный кабинет {% endblock %}

{% block content %}
    <div class="aboutprop">
        <h1>Информация о заявке</h1>
        <p>ФИО: {{ props.surname }} {{ props.name }} {{ props.patronymic }}</p>
        <p>Ожидаемая дата звонка: {{ props.date }}</p>
        <p>Номер телефона: {{ props.phone }}</p>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">Закрыть заявку</button>
        </form>
    </div>

{% endblock %}