{% extends 'main/layout.html' %}

{% block title %} Личный кабинет {% endblock %}

{% block content %}
<div class="container" style="text-align: -webkit-center;">
    <div class="props">
        <h1>Заявки пользователей</h1>
        {% if props %}
        {% for el in props %}
        <div class="alert alert-warning">
            <h3> {{ el.surname }} {{ el.name }} {{ el.patronymic }} </h3>
            <h4>{{ el.phone }} {{ el.date }}</h4>
            <a href="{% url 'props-delete' el.id %}" class="btn btn-light"
               style="padding: 10px 20px; font-size: 20px; border-radius: 10px;"> Рассмотреть заявку</a>
        </div>
        {% endfor %}
        {% else %}
        <p>Заявок нет</p>
        {% endif %}
    </div>
</div>
{% endblock %}